In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
np.random.seed(42)
n = 1000

data = {
    "ProductID": np.random.randint(1000, 1100, size=n),
    "Region": np.random.choice(["North", "South", "East", "West"], size=n),
    "Sales": np.round(np.random.uniform(500, 5000, size=n), 2),
    "Returns": np.round(np.random.uniform(0, 1000, size=n), 2),
    "Inventory": np.random.randint(0, 500, size=n),
    "Date": pd.date_range(start="2023-01-01", periods=n, freq="D")
}

df = pd.DataFrame(data)
print("ðŸ”¹ Sample Data:")
print(df.head())

ðŸ”¹ Sample Data:
   ProductID Region    Sales  Returns  Inventory       Date
0       1051  South  3638.62   712.01        187 2023-01-01
1       1092   East  3560.63   825.98        229 2023-01-02
2       1014   West  3283.75   100.64        167 2023-01-03
3       1071   West  3887.22   239.87        419 2023-01-04
4       1060  North  1213.72   141.97        113 2023-01-05

In [3]:
df.to_csv("sales_inventory_data.csv", index=False)
print("\n CSV saved as 'sales_inventory_data.csv'")

 CSV saved as 'sales_inventory_data.csv'

In [4]:
conn = sqlite3.connect("retail.db")
df.to_sql("sales_inventory", conn, if_exists="replace", index=False)
print("SQLite DB created: 'retail.db' with table 'sales_inventory'")

SQLite DB created: 'retail.db' with table 'sales_inventory'

In [5]:
print("\nðŸ“Š SQL Query 1: Total Sales by Region")
query1 = pd.read_sql_query("""
    SELECT Region, ROUND(SUM(Sales), 2) AS TotalSales
    FROM sales_inventory
    GROUP BY Region
""", conn)
print(query1)

print("\nðŸ“ˆ SQL Query 2: Monthly Sales Trend")
query2 = pd.read_sql_query("""
    SELECT strftime('%Y-%m', Date) AS Month, ROUND(SUM(Sales), 2) AS MonthlySales
    FROM sales_inventory
    GROUP BY Month
    ORDER BY Month
""", conn)
print(query2)

print("\nðŸ“‰ SQL Query 3: Top 5 Products with Highest Return %")
query3 = pd.read_sql_query("""
    SELECT ProductID,
           ROUND(SUM(Returns), 2) AS TotalReturns,
           ROUND(SUM(Sales), 2) AS TotalSales,
           ROUND(SUM(Returns)*100.0/SUM(Sales), 2) AS ReturnPct
    FROM sales_inventory
    GROUP BY ProductID
    HAVING TotalSales > 0
    ORDER BY ReturnPct DESC
    LIMIT 5
""", conn)
print(query3)
print("\nðŸŽ‰ All steps completed successfully.")

ðŸ“Š SQL Query 1: Total Sales by Region
  Region  TotalSales
0   East   727563.11
1  North   733558.17
2  South   674018.66
3   West   624726.78

ðŸ“ˆ SQL Query 2: Monthly Sales Trend
      Month  MonthlySales
0   2023-01      92562.03
1   2023-02      78377.43
2   2023-03      88135.22
3   2023-04      77614.65
4   2023-05      69417.17
5   2023-06      87311.62
6   2023-07      93672.11
7   2023-08      82388.91
8   2023-09      77288.48
9   2023-10      94305.82
10  2023-11      90152.66
11  2023-12      80409.51
12  2024-01      81427.26
13  2024-02      80002.30
14  2024-03      78432.64
15  2024-04      85114.07
16  2024-05      92257.86
17  2024-06      84929.72
18  2024-07      79750.99
19  2024-08      78873.61
20  2024-09      86477.06
21  2024-10      72534.76
22  2024-11      89967.33
23  2024-12      99292.73
24  2025-01      81856.33
25  2025-02      75387.09
26  2025-03      83703.92
27  2025-04      80492.71
28  2025-05      83415.44
29  2025-06      78979.78
30  2025-07      85566.45
31  2025-08      97531.54
32  2025-09      72237.52

ðŸ“‰ SQL Query 3: Top 5 Products with Highest Return %
   ProductID  TotalReturns  TotalSales  ReturnPct
0       1063       6058.63    17771.95      34.09
1       1069       3881.93    11989.55      32.38
2       1084       5287.01    16708.09      31.64
3       1039       2381.73     7873.74      30.25
4       1012       6967.02    23459.45      29.70

ðŸŽ‰ All steps completed successfully.